<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add header</title>
</head>
<style>
.container{
padding:20px;
position: relative;
justify-content:center;
}
.center {
position: absolute;
left:30%;
}
</style>

<div class ="container">
    <div class = "center">
<body>
    <div class = "center">
        <form action="/saveheadentry" method = "POST">
        <div><p>Enter name for header:</p>
        <p><input type="text" name="hn" /></p></div>
        <p><input type="submit" value="Submit"/></p>
        </form>
    </div>
</body>
    </div>
</div>
</html>