<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>confirmation</title>
</head>
<style>

.center {
position: absolute;
left:30%;
}
</style>

    <div class = "center">
<body>
<p>Successfull.</p>
<p>{{ msg }}</p>
<a href = "/">Go back to home page <br> </a>
<a href = '/incomeview'>Go  to income view page <br> </a>
<a href = '/expenseview'>Go back to expense viewing page <br> </a>
<a href = "/viewheader">Go back to view header page <br> </a>
<a href = "/incomeentry">Go back to income entry page <br> </a>
<a href = "/expenseentry">Go back to expense entry page <br> </a>
<a href = "/headcreation">Go back to header creation page <br> </a>
</body>
    </div>

</html>